<h1>{{ data.name }}</h1>
<section class="input-container">
  <form [formGroup]="Details1" (ngSubmit)="next()" class="main-container">
    <div class="inp1">
      <label>Name </label>
      <input
        class="text"
        [value]="name"
        formControlName="name"
        placeholder="Enter your name"
      />

      <span *ngIf="name?.touched && name?.hasError('required')">
        Please fill this field
      </span>
    </div>

    <div class="inp1">
      <label>Age </label>
      <input type="number" formControlName="age" placeholder="Enter your age" />

      <span *ngIf="age?.touched && age?.hasError('required')">
        Please fill this field
      </span>
    </div>

    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input type="radio" [value]="gender" formControlName="gender" />{{
          gender
        }}
      </label>
    </div>

    <div class="inp1">
      <label>Email id </label>
      <input
        type="email"
        formControlName="email"
        placeholder="Enter your email "
      />

      <span *ngIf="email?.touched && email?.hasError('required')">
        Please fill this field
      </span>
    </div>

    <div class="button">
      <button type="submit">Next</button>
    </div>
  </form>
</section>
