section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.left{
    border: solid black;
    width: 25%;
    height: 350px;
    padding: 10px;
    background-color: white;
}
.right{
    border: solid black;
    width: 50%;
    background-color: white;
    
}
footer{
    background-color: white;
    border: 2px solid black;
    height: 50px;
    transform: translateY(150px);
    display: flex;
    align-items: center;
    gap: 30px;
}
button{
    font-size: 18px;
    transform: translateX(75rem);
}
.one{
    color: black;
}
.one.active{
    color: blue;
    font-size: 30px;
}
.two{
    color: black;
}
.two.active{
    color:blue ;
    font-size: 30px;

}
.three{
    color:black ;
}
.three.active{
    color:blue ;
    font-size: 30px;
}